@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

.site{
  @apply bg-base-200 overflow-x-hidden;
}

.site__wrapper{
  max-width: 1024px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  margin-left: auto;
  margin-right: auto;
}

.site__main{
  @apply flex mt-8 mb-16 gap-8;
}

.site__main > .sidebar{
  flex-basis: 220px;
}

.site__main > .content{
  flex: 1 1 auto;
}

.site-footer{
  @apply bg-neutral text-neutral-content  footer items-center p-4;
}

.site__header{
  @apply bg-base-100;
}